In [1]:
import pandas as pd
import numpy as np
import os
import json
from pandas.io.json import json_normalize

In [36]:
#f = open('C:\\Users\\non_coder\\Desktop\\datasets_fldr\split_data.json',)
#data = json.load(f) 
#for i in data['ingredients']: 
    #print(i) 
d_set = pd.read_csv("C:\\Users\\non_coder\\Desktop\\thesis\cuisine.csv", nrows=100)

In [37]:
for i in d_set['ingredients']:
    print(i)

chicken
cane_molasses
butter
olive_oil
honey
tomato
wheat
olive_oil
tomato
banana
cardamom
lamb
chicken
tomato
butter
olive_oil
coriander
lemon_juice
butter
coriander
cane_molasses
coriander
tomato
tomato
chicken_broth
coriander
tomato
wheat
coriander
wheat
butter
coriander
tomato
tomato
peanut_oil
lamb
olive_oil
tomato
tomato
butter
butter
tomato
rose
tomato
lemon
tomato
tomato
cilantro
olive_oil
rose
mustard
lamb
coriander
lamb
coriander
olive_oil
olive_oil
olive_oil
tomato
vegetable_oil
coriander
olive_oil
cheese
lamb
lemon_juice
lamb
lamb
tomato
butter
tomato
tomato
pepper
lemon_juice
butter
coriander
butter
tomato
tomato
butter
tomato
olive_oil
lamb
tomato
olive_oil
coriander
tomato
tomato
butter
coriander
olive_oil
tomato
pepper
olive_oil
tomato
coriander
cardamom
lamb
mace
coriander
butter

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
tf = TfidfVectorizer(analyzer = 'word',ngram_range = (1,2),min_df = 0,stop_words = 'english')

In [40]:
df = pd.DataFrame(d_set['ingredients'])
df

      ingredients
0         chicken
1   cane_molasses
2          butter
3       olive_oil
4           honey
..            ...
95       cardamom
96           lamb
97           mace
98      coriander
99         butter

[100 rows x 1 columns]

In [43]:
x = TfidfVectorizer().fit_transform(df.ingredients)
km = KMeans(n_clusters=4).fit(x)
clusters = km.labels_.tolist()

KMeans(n_clusters=4)